.goals-info-wrapper {
  margin-block-start: 100px;
  margin-block-end: 50px;
  padding-inline: 1rem;

  & .goals-info-image {
    block-size: 400px;
    inline-size: 100%;
    padding: 20px;
    border-radius: var(--radius);

    & img {
      block-size: 100%;
      inline-size: 100%;
    }
  }

  & .goals-info-text {
    padding: 20px;
    inline-size: 100%;

    & h1 {
      font-size: 2rem;
      color: var(--blue);
    }

    & p {
      font-size: 1.3rem;
    }
  }
}

@media (width <= 200px) {
  .goals-info-wrapper {
    & .goals-info-image {
      block-size: 200px;

      & img {
        block-size: 100%;
        inline-size: 100%;
      }
    }
  }
}

@media (width >= 800px) {
  .goals-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    & .goals-info-image {
      inline-size: 50%;
    }

    & .goals-info-text {
      inline-size: 50%;
    }
  }
}
