select{
    width: 60%;
    height: 4rem;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid #5c9ae5;
    color: #5c9ae5;
    outline: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    width: 60%;
    height: 4rem;
}