.pdfUploadBody{
    width: 100%;
    height: 88vh;
    background-color: white;
    padding: 0 2rem;
    color: #5c9ae5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
label{
    font-size: 1rem;
}
input{
    width: 60%;
    height: 4rem;
    border-radius: 10px;
    border: 2px solid #5c9ae5;
    outline: none;
    padding-left: 10px;
}
textarea{
    width: 60%;
    height: 7rem;
    border-radius: 10px;
    border: 2px solid #5c9ae5;
    outline: none;
    padding-left: 10px;
}
button{
    width: 60%;
    height: 4rem;
    border-radius: 10px;
    background: #5c9ae5;
    color: #fff;   
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}
.pdfUploadBody > button:hover{
    background: #5c9ae5;
    color: #fff;
    cursor: pointer;
}