.SuccessPage{
    height: 100vh;
    width: 100%;
    background: linear-gradient(#5F9EEB,#315682);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.SuccessPage-form{
    height: 60%;
    width: 35%;
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 10px;

    
    @media (max-width:768px) {
        height: 50%;
        width: 70%;  
    }
}

.logo{
    height: 12%;
    width: 90%;
    display: flex;
    align-items: center;
    /* padding-top: 10px; */
    justify-content: space-between;
    /* background: green; */

      
    /* & img{
        object-fit: contain;
        height: 100%;
    }

    & .cancel{
        height: 45%;
        object-fit: contain;
    } */
}

.text-and-btn{
    height: 70%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    & p{
        margin-block-start: -15px;
    }
}