/* My styleguide. */

@layer base {
  :root {
    /* colors */
    --white: #ffffff;
    --black: #000;
    --blue: #0000ff;
    --lightgreen: #00f8c4;
    --border-color: #5d9be6;

    --feature-background: linear-gradient(90deg, #00f8c4 0%, #0800ff 100%);
    --background: linear-gradient(90deg, #0800ff 0%, #00f8c4 100%);
    --contact-background: linear-gradient(180deg, #0800ff 0%, #000000 100%);

    /* fonts */
    --decorative: "Montserrat", sans-serif;
    --sans: "Open Sans", sans-serif;

    /* font scale */
    --base-size: 1.2rem;
    --scale: 1.15;
    --xl: calc(var(--h1) * var(--scale) * var(--scale)); /* 7.15rem */
    --lg: calc(var(--h1) * var(--scale)); /* 4.575rem */
    --h1: calc(var(--h2) * var(--scale)); /* 3.66rem */
    --h2: calc(var(--h3) * var(--scale)); /* 2.93rem */
    --h3: calc(var(--h4) * var(--scale)); /* 2.34rem */
    --h4: calc(var(--h5) * var(--scale)); /* 1.875rem */
    --h5: calc(var(--h6) * var(--scale)); /* 1.5rem */
    --h6: var(--base-size); /* 1.2rem */
    --small: calc(var(--base-size) / var(--scale)); /* 0.96rem */

    /* other variables */
    --radius: 15px;
  }

  /* add border box sizing to the page right from the start */
  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /*Allow percentage-based heights in the applicationand also remover browser padding and margin*/
  html,
  body {
    block-size: 100%;
    margin: 0;
    padding: 0;
    inline-size: 100%;
    font-family: "Rubik", sans-serif;
    font-size: calc(0.6em + 1vmin);
  }

  /* Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* Create a root stacking context */
  #root,
  #__next {
    isolation: isolate;
  }

  /* Remove built-in form typography style */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /*  Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
}
